{% extends 'base.html' %}
{% block content %}

<title>Work out plan</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    

<div style="margin-top: 25px;" class="ui container">
        <h1 class="ui center aligned header">Insert Routine</h1>
        <div>
            <lable>Select date</label><br>
                <select>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                </select>
        </div>
        <br>
        <div >
            <label>Enter Plan</label><br>
            <input class="input" type="text" placeholder="Enter plan...">
        </div>
        <br>
        <div>
            <label> Enter sets </label>
            <div class="smaller-container">
                <input class="input" placeholder="Select rep" type="number"><br>
                <input class="input" placeholder="Select set" type="number">
            </div>
        </div>
    <button class="btn btn-primary btn-sm" type="submit">Add exercise</button>
</div>

    

{% endblock %}