
{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<body>
    <div class="text-left mx-auto d-block">
        <div class="col-md-12 mx-auto d-block">
            <div class="card-body col-md-8 mx-auto d-block">
                <h3 style='color:black' class="card-title text-left">Share FlashCard</h3>
                <form action="/shareFlash" method="POST">
                    <label style='color:black' class="text-center"> Recipient Email Address </label>
                    <input type="email" class="form-control" placeholder="Please enter recipient email!" name="email"></input>

                    <label style='color:black' class="text-center"> Flashcard Subject </label>

                    <input type="text" class="form-control" placeholder="Please enter subject!" name="subject"></input>

                    <label style='color:black' class="text-center"> Flashcard Question </label>

                    <textarea class='col-md-12 mx-auto d-block' name="email" name="message" placeholder="Question" required rows="4"></textarea>
                    
                    <label style='color:black' class="text-center"> Flashcard Answer </label>
                    <textarea class='col-md-12 mx-auto d-block' name="email" name="message" placeholder="Answer" required rows="4"></textarea>

                    <input class="btn btn-success" type="submit" style="margin-top: 1px; margin-bottom: 10px; margin-right: 10px;" value="Send" name="message">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
