{% extends "base.html" %}

{% block content %}
<section class="todo__container">
    <h2>TODO List</h2>
    <div class="todo__form">
        <div class="inputvalue">
            <input class="inputVal" type="text" placeholder="Enter your task" value="">
            <button class="todo_btn">Add</button>
        </div>
    </div>
    <!-- div hold all the todo -->
    <h2>Task Needed Complete</h2>
    <div class="todoLists">
    </div>
</section>

<script src="{{ url_for('static', filename='todo.js') }}"></script>
{% endblock  %}